/**
 *
 * @author SM planet - smplanet.net
 * @package VirtueMart
 * @subpackage custom
 * @copyright Copyright (C) 2012-2014 SM planet - smplanet.net. All rights reserved.
 * @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
 *
 **/

.catproducttable, .catproducttable tr, .catproducttable th, .catproducttable td { border:none; }

.catproducttable th { font-weight:400; font-size: 120%; text-align:center;}

.catproducttable td { text-align: right; }

.catproducttable .cell_image { text-align: left;}

.catproducttable .cell_image img { max-height: 70px;}

.catproducttable .cell_id { text-align: left;}

.catproducttable .cell_sku { text-align: left;}

.catproducttable .cell_name { text-align: center;}

.catproducttable .cell_s_desc { text-align: left;}

.catproducttable .cell_weight { text-align: center;}

.catproducttable .cell_size {text-align: center;}

.catproducttable .cell_stock {}

.catproducttable .cell_basePrice {}

.catproducttable .cell_basePriceWithTax {}

.catproducttable .cell_priceWithoutTax {}

.catproducttable .cell_salesPrice {}

.catproducttable .cell_taxAmount {}

.catproducttable .cell_discountAmount {}

.catproducttable .cell_sum_weight {}

.catproducttable .cell_sum_basePrice {}

.catproducttable .cell_sum_basePriceWithTax {}

.catproducttable .cell_sum_taxAmount {}

.catproducttable .cell_sum_discountAmount {}

.catproducttable .cell_sum_priceWithoutTax {}

.catproducttable .cell_sum_salesPrice {}

.catproducttable .row_attached_product {font-weight:700;}

#total_weight {}

#total_basePrice {}

#total_basePriceWithTax {}

#total_taxAmount {}

#total_discountAmount {}

#total_priceWithoutTax {}

#total_salesPrice {}

#catproduct-loading {
display:none;
background: url("ajax-loader.gif") no-repeat;
height: 32px;
left: 50%;
position: fixed;
    top: 40%;
	width: 32px;
}

.catproducttable  input.quantity-controls {padding: 0px;}
.catproducttable  .vm-price-value span {min-width: inherit;}
