.clear {
	clear: both;
	height:0px;
}

.sj-minicart-pro{
	margin:0;
	padding:0;
	display:inline-block;
}

.sj-minicart-pro .mc-wrap{
	margin:0;
	padding:0;
	display:inline;
	float:left;
	position:relative;
	height:27px;
}

.sj-minicart-pro .mc-header{
	margin:0;
	padding:0;
	overflow:hidden;
	float:left;
	cursor:pointer;
	color:#FFFFFF;
	font-size:15px;
	line-height:21px;
	height:27px;
}

.sj-minicart-pro .mc-header  .mc-yourcart{
	background: url("../images/icon-cart.png") no-repeat 10px center;	
	margin:0;
	float:left;
	padding:3px 18px 3px 36px;
	background-color:#222222;
	line-height:21px;
}

.sj-minicart-pro .mc-header  .mc-totalprice {
	margin:0;
	float:left;
	border-left:2px solid #777777;
	line-height:21px;
	padding:3px 15px;
	background-color:#222222;
}
.sj-minicart-pro .mc-header  .mc-totalprice strong{
	font-weight:normal;	
}

.sj-minicart-pro .mc-header  .mc-arrow{
	height:27px;
	width:30px;
	display:inline-block;
	background: url("../images/icon-down.png") no-repeat center center #77387b;
}

.sj-minicart-pro .mc-checkout-top{
	padding:5px 15px;
	background:#77387b;
	float:left;
	margin:0;
	margin-left:5px;
	text-transform: uppercase;
	font-weight:bold;
	color:#FFFFFF;
	font-size:11px;
	cursor:pointer;
	line-height:17px;
	display:inline-block;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	opacity:1;
	filter: alpha(opacity=100);
}

.sj-minicart-pro a.mc-checkout-top {
	text-decoration: none;
}
.sj-minicart-pro a.mc-checkout-top:hover{
	text-decoration: none;
}



.mc-wrap:hover + .mc-checkout-top{
	opacity:0.5;
	filter: alpha(opacity=0);
}

.sj-minicart-pro .mc-content{
	float:left;
	top:100%;
	display:none;  
	position:absolute;
	border: 3px solid #77387b;
	font-size:16px;
	-moz-box-shadow: 2px 2px 2px #999999;
	-webkit-box-shadow: 2px 2px 2px #999999;
	box-shadow: 2px 2px 2px #999999;
	background-color:#FFFFFF;
	z-index:99999;
}

.sj-minicart-pro .mc-wrap:hover .mc-content{
	top:100%;
	margin:0;
	padding:0;
}

.sj-minicart-pro .mc-wrap.over .mc-content{
	top:100%;
	margin:0;
	padding:0;
}

.sj-minicart-pro .mc-content .mc-content-inner{
	margin:0;
	padding:0;
	float:right;
	min-width:300px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-top{
	margin:0;
	padding:0;
	background: url("../images/content-top.png") repeat;
	height:34px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-top span.mc-header-title{
	padding-left:15px;
	color:#222222;
	text-transform:uppercase;
	line-height:34px;
	font-weight:normal;
	font-size:18px;
	vertical-align: middle;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-top  span.mc-update-btn {
	background:#77387b;
    margin:0;
    padding: 0 12px;
	text-transform:uppercase;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	line-height: 21px;
	height:21px;
	float:right;
	margin-top:6px;
	margin-right:15px;
	
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-top  span.mc-update-btn:hover{
	background:#222222;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-list{
	margin:15px 5px 0px 15px;
	padding:0;
	display:block;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-list-inner{
	margin:0;
	padding:0;
	width: 100%;
	display:block;
	overflow-x: hidden;
	overflow-y: auto;
}

.sj-minicart-pro .mc-list .mc-product-wrap{
	display:block;
	margin:0;
	padding:0;
}
.sj-minicart-pro .mc-list .mc-product{
	display:block;
	margin:0;
	padding:0;
}

.sj-minicart-pro .mc-list .mc-product-inner{
	padding:0 0 5px 0; 
	margin:0 0 5px 0;  
	float:left;
	width:98%;
	border-bottom:1px dashed #CCCCCC;
	position:relative;
	overflow:hidden;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-image{
	margin:0;
	padding:0;
	overflow:hidden;
	margin-right:10px;
	max-width:430px;
	display:inline-block;
	vertical-align:top;
	float:left; 
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-image img{
	float:left;
	margin:0;
	padding:0;
	overflow:hidden;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-image img:hover{
	opacity:0.8;
	filter: alpha(opacity=80);
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute{
	margin:0;
	padding:0;
	margin-right:15px;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute .attr{
	line-height:15px;
	margin:0px;
	padding:0;
	color:#666666;
	padding-bottom:8px;
	font-size:14px;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute .attr span.label{
	margin:0;
	padding:0;
	font-weight:bold;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute .attr  span.value a,
.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute .attr  span.value{
	font-weight:normal;
	color:#666666;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute .attr  span.value a:hover{
	text-decoration: underline;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute .attr-quantity span.value input.mc-quantity{
	background-color:#f3f3f3;
	border: 1px solid #EEEEEE; 
	color:#666666;
	width:37px;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-attribute  .attr-price span.value{
	color:#77387b;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-remove{
	width:14px;
	height:14px;
 	position:absolute;
	top:12px;
	right:0px; 
	display:inline-block;
	background: url("../images/icon-remove.png") no-repeat;
	cursor:pointer;
}

.sj-minicart-pro .mc-list .mc-product-inner .mc-remove:hover{
	background: url("../images/icon-remove-hover.png") no-repeat;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon{
	margin:0px 15px 5px 15px;
	padding:0;
	display:block;
	overflow:hidden;
	height:43px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-title{
	text-transform:uppercase;
	font-size:18px;
	color:#666666;
	line-height:21px;
	display:inline-block;
	height:21px;
	margin:0;
	padding:0;
	margin-right:45px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-input {
	display:inline-block;
	height: 23px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon  .coupon-input input.coupon-code{
	background-color:#f3f3f3;
	border:1px solid #EEEEEE; 
	font-size:14px;
	color:#666666;
	font-weight:normal;
	padding:0;
	margin:0;
	height:20px;
	line-height:20px;
	display:inline;
	width:158px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-input .coupon-button-add{
    background-color: #222222;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    margin: 0 0 1px 5px;
    padding: 0px 12px;
    text-transform: uppercase;
    vertical-align: middle;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-input .coupon-button-add:hover{
	background-color: #77387b;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-label{
	display:inline-block;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-label .coupon-text{
	line-height:21px;
	font-size:14px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-label  span.coupon-close{
	width:14px;
	height:14px;
	display:inline-block;
	background: url("../images/icon-close-coupon.png") no-repeat;
	cursor:pointer;
	vertical-align: middle;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon  .coupon-message{
	display:none;
	color:#FF0000;
	padding-left: 128px;
    text-align: left;
	font-size:14px;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .preloader{
	display:none;
	width:24px;
	height:24px;
	margin:0 auto;
	padding:0;
	text-align:center;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer {
	margin:0px 15px 0px 15px;
	padding:0;
	font-size:11px;
	text-transform:uppercase;
	display:block;
	text-align: center;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer  .mc-gotocart{
	padding:5px 15px;
	background-color:#222222;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	display:inline-block;
	line-height:17px;
	margin:0;
/* 	position:absolute;
	left:15px; */
	float:left; 
	/* margin-right:26px; */
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer  a.mc-gotocart{
	text-decoration: none;
}
.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer  a.mc-gotocart:hover{
	text-decoration: none;
	background-color:#77387b;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-totalprice-footer{
	color:#666666;
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:bold;
	vertical-align:middle;
	line-height:27px;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-totalprice-footer strong{
	font-size:16px;
	color:#77387b;
	text-shadow:1px 1px #999999;
	font-weight:normal;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout-footer{
	display:inline-block;
	vertical-align: middle;
	float:right; 
	height:27px;
	text-decoration: none;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout-footer:hover{
	text-decoration: none;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout{
	padding:5px 15px;
	background-color:#222222;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	line-height:17px;
	border-right:2px solid #777777;
	padding-right:8px;
	vertical-align: middle;
	display:inline-block;
	float:left;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout-arrow{
	height:27px;
	width:22px;
	background: url("../images/icon-checkout.png") no-repeat center center #77387b;
	border-left:2px solid #222222;
	vertical-align: middle;
	display:inline-block;
	float:right;
}


.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout-footer:hover .mc-checkout{
	background-color:#77387b;
	border-right:2px solid #777777;
}

.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout-footer:hover .mc-checkout-arrow{
	border-left:2px solid #77387b;
}

.sj-minicart-pro .mc-content .mc-empty{
	padding:10px 20px 10px 200px;
	color:#77387b;
	background:url('../images/cart_empty.png') no-repeat  20px center transparent;
	display:inline-block;
	height:70px;
	line-height:70px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sj-minicart-pro .mc-content .mc-content-inner .mc-space{
	height:15px;
	display:block;
	margin:0;
	padding:0;
}

/* css3 */
 .sj-minicart-pro .mc-content,
 .sj-minicart-pro .mc-checkout-top,
 .sj-minicart-pro .mc-content .mc-content-inner .mc-top  span.mc-update-btn,
 .sj-minicart-pro .mc-content .mc-content-inner .mc-coupon .coupon-input .coupon-button-add,
 .sj-minicart-pro .mc-content .mc-content-inner  .mc-footer  .mc-gotocart{
 	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
 }

.sj-minicart-pro .mc-header  .mc-yourcart,
.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.sj-minicart-pro .mc-header  .mc-arrow,
.sj-minicart-pro .mc-content .mc-content-inner  .mc-footer .mc-checkout-arrow{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	
}
