table.user-details {
    width: auto;
}
td.key {
    padding: 0 6px;
    width: 120px;
}
.virtuemart_country_id, #virtuemart_state_id {
 margin-bottom: 2px;
    padding: 5px 5px 4px;
    width: 212px;
}
select#title {
 margin-bottom: 2px;
    padding: 5px 5px 4px;
}
.output-billto, .output-shipto {
    margin: 0;
}
.billto-shipto {
    padding: 10px 0 0;
}
